*{
    padding: 0;
    margin: 0;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 15px;
    
}
a{
    padding: 2px;
    margin: 2px;
    color: black;
    text-decoration: none
}
a:hover{
    color: gold;
}
#div-lista ul li{
    display: inline-block;
    text-align: right;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left:30px ;
}


#logo{
     border: solid 1px blue;
     
}
#imagem-logo{
    background: aquamarine;
    
}

#logo img{
    width: 150px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    
}
.banner{
    width: 100%px;
    height: 500px;
    margin:0 auto ;
    animation: slide 15s infinite;
    transition: all 0.30s;
    background: no-repeat;
    background-size: 100%;
    

}



@keyframes slide{
    0%{
        background-image: url(../img/local-de-luxxo.jpg) ;
    }
    25%{
        background-image: url(../img/sunset-pool.jpg);
    }
    50%{
        background-image: url(../img/spa-beach-hotel.jpg);
    }
    75%{
        background-image: url(../img/Water-Hotel.jpg);
    }
    100%{
        background-image: url(../img/local-de-luxxo.jpg) ;
    }
}
.banner > .texto-banner {
    margin-top: 10px ;

}
hr{
    width: 100%;
    margin: 5px;
}
.texto-banner{
    background: #ffffff;
    width: 35%;
    height: 400px;
    opacity: 75%;
    display: block;
    margin-left:60px ;
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px;
    float: left;
  
}
.texto-banner, h2, h4 img{
    margin: 5px;
    padding: 8px;
}
#appearance-select{
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #e8f5e9  ;  /* Imagem de fundo (Seta) */
    background-position: 218px center;  /*Posição da imagem do background*/
    width: 80px; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height:25px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border:1px solid #ddd;
 }
 .botao-reserva .btn-reservar {
    background-color: #64bb64;
    border-radius: 3px!important;
    text-transform: uppercase;
    display: block;
    font-family: Nunito;
    color: #ffffff!important;
    font-size: 15px!important;
    font-weight: 600;
    width: 100%;
    outline: none;
    padding: 0px;
    min-height: 50px;
    margin-top: 40px;
}
#menu-box{
    height: 68px;
    background: #f1f1f1;
    position: absolute;
    


}
.menu-box  ul li{
    padding: 50px;
}
.menu > ul li{
    padding: 20px 10px;

}

.btn{
    display: inline-block;
}
.btn-booknow {
    display: inline-block;
    top: 0;
    right: 0;
    padding: 15px 15px;
    color: #fff;
    background: #64bb64;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 5px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
}
.row-servicos{
    display: inline-flex;
}

.paragrafo{
    padding: 10px;  
    width: 65%; 
    text-align: justify;
    font-weight: 300;
    background: white ;
    display: inline-block;
}
#barra-lateral{
    display: inline-block;
    background: yellow;
    width: 20%; 
    float: right;   
}
#lista-car{
    font-display: 15px;
    font-size: 16px;
    background:BLUE;
}
